@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');

main{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    background-color:  hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: Outfit;
}

.box{
    border-radius: 13px;
    background-color:  white;
    width: 18%;
    padding: 17px;
    

}
.img img{
    width: 100%;
    border-radius: 13px;
    
}
h1{
    color: hsl(218, 44%, 22%);
    font-size: 1.3rem;
    
}
p{
   color:hsl(220, 15%, 55%);
   padding: 5px;
}